/* Táblázat */
table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-collapse: collapse;
	width: 30vw;
	border-radius: 6px;
	overflow: hidden;
}
th {
	text-align: center;
	background-color: #7dbad7;
	color: #fefefe;
}
td {
	font-weight: 600;
	text-align: center;
	color: #7dbad7;
}
th, td {
	padding: 4px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
table.admin {
	margin-top: 30px;
	border: 2px solid #7dbad7;
}
table.admin td:hover {
	background-color: #dddddd;
}
/* Oszlopok első, második, harmadik */
.admin tr td:nth-child(1) {
	width: 50px;
}
.admin tr td:nth-child(2) {
	width: 400px;
}
.admin tr td:nth-child(3) {
	width: 100px;
	text-align: center;
}
/* Reszponzív bigyó */

/* 800px-nél kissebb képernyőn lép életbe */
@media screen and (max-width: 800px) {
	table {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -40%);
		border-collapse: collapse;
		width: 80vw;
		border-radius: 6px;
		overflow: hidden;
	}
}