/* Form */
label {
	color: #fefefe;
	margin-bottom: 5px;
}
.kellbmeg {
	color: hsl(0, 80%, 60%);
}
.alert {
	color: #fefefe;
	border: 2px solid hsla(199, 100%, 40%, 0.8);
	border-radius: 6px;
	padding: 10px 15px;
	margin-bottom: 10px;
}
.alert-info {
	border-color: hsla(199, 100%, 40%, 0.8);
	background-color: #7dbad7;
}
.alert-success {
	border-color: #09d113;
	background-color: hsla(108, 92%, 43%, 0.8);
}
.alert-warning {
	border-color: #d18b09;
	background-color: hsla(36, 92%, 43%, 0.8);
}
.alert-error {
	border-color: hsla(2, 100%, 40%,0.8);
	background-color: hsla(2, 100%, 60%, 1);
}
.urlap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.auth-urlap {
	padding: 20px 10px;
	background-color: #7dbad7;
	border-radius: 6px;
}
.auth-header {
	color: #fefefe;
	text-align: center;
	font-size: larger;
	font-style: oblique;
	margin: 4px;
}
/* Csoportosítás */
fieldset {
	border: 2px solid hsla(199, 100%, 40%, 1);
	margin-bottom: 10px;
	border-radius: 6px;
}
legend {
	color: #FFF;
	background: hsla(199, 100%, 40%, 1);
	border-radius: 6px;
	font-size: 1em;
	padding: 4px;
}
/* Form gombok */
input:focus {
	background-color: hsla(199, 100%, 40%, 1);
	border: 2px solid #fefefe;
	border-top: none;
	border-left: none;
	border-right: none;
}
input {
	width: 20vw;
	padding: 5px;
	margin: 10px 0;
	font-size: 16px;
	border-radius: 6px;
	border-bottom: 2px solid hsla(199, 100%, 40%, 1);
	border-top: none;
	border-left: none;
	border-right: none;
	color: hsla(0, 0%, 100%, 1);
	background: rgba(20, 20, 20, 0.2);
	outline: none;
}
.btn-group, .input-group {
	text-align: center;
}
.btn-group input {
	width: 45%;
}
.auth-reset, input[type="reset"] {
	display: inline-block;
	border-bottom: 2px solid hsla(2, 100%, 40%, 1);
	border-top: none;
	border-left: none;
	border-right: none;
}
.auth-reset:hover {
	background-color: hsla(2, 100%, 40%,0.8);
	border-bottom: 2px solid hsla(2, 100%, 40%, 1);
	border-top: none;
	border-left: none;
	border-right: none;
}
.auth-reset:active {
	background-color: hsla(2, 100%, 60%, 1);
	border-color: hsla(2, 100%, 60%, 1);
}
.auth-kuldes, input[type="submit"] {
	display: inline-block;
}
.auth-kuldes:hover {
	background-color: hsla(199, 100%, 40%, 1);
}
.auth-kuldes:active {
	background-color: hsla(199, 100%, 60%, 1);
	border-color: hsla(199, 100%, 60%, 1);
}
/* Reszponzív bigyó */

/* 800px-nél kissebb képernyőn lép életbe */
@media screen and (max-width: 800px) {
	.urlap {
		margin-top: 20vh;
		margin-bottom: 100vh;
		width: 80%;
	}
	fieldset input {
		width: 95%;
	}
	.btn-group input {
		width: 100%;
	}
	input {
		width: 80%;
	}
}