body{
    background-color: #2a2a2a;
}


#slogen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 720px;
    padding: 0px;

}

#welcome {
    box-shadow: 0px 15px 10px -15px #BC70A4;
    width: 100%;
    margin: 0px;
    animation: coloring 5s infinite alternate-reverse ;
    background-color: #BC70A4;
    margin-bottom: 50px;
}

/*hottest előadók*/
table {
    top: -40%;
    width: 60%;
    margin: auto;
    margin-bottom: 80px;

}

th, td {
    vertical-align: middle;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #383838;
    font: 16px "Century Gothic";
}

caption {
    font: bold 21px "Century Gothic";
    color: #ffffff;
    background-color: #2d4d5b;
    padding-top: 30px;
    padding-bottom: 30px;
}

th {
    background-color: #2d4d5b;
    color: white;
    font: bold 18px "Century Gothic";
}

tr:nth-of-type(even) {
    background-color: #c8e1ec;
}

tr:nth-of-type(odd) {
    background-color: #a6cee0;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    width: 30%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.miniz{
    transform: scale(0.5, 0.5);
    width: 100%;
}
