/* Fontok */
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.cdnfonts.com/css/antipasto);
@import url(http://fonts.cdnfonts.com/css/antipasto-pro);
/* Alapok */
* {
	font-family: 'Nunito', 'Open Sans', sans-serif;
}
body {
	margin: 0px;
}
::selection {
	color: #fefefe;
	background-color: hsla(199, 100%, 60%, 0.4);
}
.button {
	position: absolute;
	top: -20%;
	width: 92%;
	color: #fefefe;
	border: 2px solid hsla(199, 100%, 40%, 0.8);
	border-radius: 6px;
	padding: 2px 15px;
	text-decoration: none;
	text-align: center;
}

.button-info {
	border-color: hsla(199, 100%, 40%, 0.8);
	background-color: #7dbad7;
}

.button-info:hover {
	border-color: hsla(199, 100%, 30%, 0.8);
	background-color: #7dbae7;
}

/* Lábjegyzet */
footer, .labjegyzet {
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #7dbad7;
	color: white;
	text-align: center;
}
/* Menü és navigáció */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fefefe;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#logo {
	display: inline-block;
	margin-top: 5px;
	margin-left: 30px;
	margin-right: 40px;
	height: 45px;
}
.navigacio {
	text-transform: uppercase;
}
.menuElemek {
	float: left;
}
.menuElemek a, .dropbtn {
	display: inline-block;
	color: #424242;
	text-align: center;
	padding: 20px 30px;
	margin: 0px;
	text-decoration: none;
	font: 18px Antipasto Pro Light;
	font-weight: bold;
	letter-spacing: 4px;
}
.menuElemek a:hover, .dropdown:hover .dropbtn {
	color: #fefefe;
	background-color: #7dbad7;
}
.menuElemek.dropdown {
	float: right;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 5px;
	background-color: #7dbad7;
	min-width: 5%;
	box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
	z-index: 1;
}
.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: #fefefe;
	text-align: center;
	font: 15px 'Nunito';
}
.dropdown-content a:hover {
	background-color: #fefefe;
	color: #6496ad;
}
.dropdown:hover .dropdown-content {
	display: block;
}
nav .active {
	color: #fefefe;
	background-color: #7dbad7;
}
nav .active:hover {
	color: #fefefe;
	background-color: #6496ad;
}
/* Konténer (tartalom meg miegymás) */
.kontener {
	height: 70vh;
	margin-bottom: 100px;
}
.kontener h1,
.kontener p {
	text-align: center;
}

div.wrapper {
	overflow-x: auto;
}
.felhasznalo-avatar {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
/* Táblázat */
table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-collapse: collapse;
	width: 30vw;
	border-radius: 6px;
	overflow: hidden;
}
table.messages {
	top: 80%;
}
table.messages-showcase {
	top: 50%;
}
th {
	text-align: center;
	background-color: #7dbad7;
	color: #fefefe;
}
td {
	font-weight: 600;
	text-align: center;
	color: #7dbad7;
}
th, td {
	padding: 4px;
}

th a:link {
	text-decoration: none;
	color: #2d4d5b;
}

th a:visited {
	color: #2d4d5b;
}

th a:hover, th a:focus {
	color: #fefefe;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
table.admin {
	margin-top: 30px;
	border: 2px solid #7dbad7;
}
table td:hover {
	background-color: #dddddd;
}
/* Oszlopok első, második, harmadik */
.admin tr td:nth-child(1) {
	width: 50px;
}
.admin tr td:nth-child(2) {
	width: 400px;
}
.admin tr td:nth-child(3) {
	width: 100px;
	text-align: center;
}
/* Reszponzív bigyó */

/* 800px-nél kissebb képernyőn lép életbe */
@media screen and (max-width: 800px) {
	table {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -40%);
		border-collapse: collapse;
		width: 80vw;
		border-radius: 6px;
		overflow: hidden;
	}
}
/* Nyomtatási kép */
@page {
	margin: 1cm
}
@media print {
	.kontener {
		background-color: #FFFFFF;
	}
	nav {
		visibility: hidden;
	}
	.eloadok tr td:nth-child(1) {
		width: 50px;
	}
	.eloadok tr td:nth-child(2) {
		width: 400px;
	}
	.eloadok tr td:nth-child(3) {
		width: 100px;
		text-align: center;
	}
}
/* Reszponzív bigyó */

/* 800px-nél kissebb képernyőn lép életbe */
@media screen and (max-width: 800px) {
	.kontener {
		height: 90vh;
	}
}